@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "SF Pro";
  src: url(../assets/fonts/SF-Pro.ttf) format("truetype");
}


/* ... continue for other styles/weights if you have them ... */
:root {
   
    --accent: #1fcdbc;
    --background: #fafafa;
    --third-color: #202020;
    --fourth-color: #343434;
    --the-gray: #5e5e5e;
    --our-black: #0e0e0e;
    --indigo: #6366f1;
    --selected: linear-gradient(to bottom left, var(--accent) 40%, #05afa0 100%);
    --indigo-selected: linear-gradient(to bottom left, var(--indigo) 40%, #7988cf 100%);
    --font-sf-pro: "SF Pro", sans-serif;
    /* new */
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  .dark {
    --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
  }

  @theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  }

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  @apply h-screen !bg-background; 

  
}
/* body {
  @apply p-2 xxs:p-5 min-h-full  text-primary pt-10 ; 
  font-family: var(--font-sf-pro), sans-serif;
  -webkit-font-smoothing: antialiased;
} */

h1 {
  @apply text-4xl  font-bold text-center
}

h2 {
  @apply text-3xl font-bold 
}

h3 {
  @apply text-2xl  font-bold text-center
}
h4 {
  @apply text-xl lg:text-lg font-bold 
}

h5 {
  @apply text-lg lg:text-base font-bold text-center
}

h6 {
  @apply text-sm lg:text-xs font-bold text-center
}



.alert-modal {
  @apply bg-primary/10 text-background rounded-xl border-none
}


.beer-category__image {
  @apply flex justify-center items-center object-cover w-14 h-14 lg:w-10 lg:h-10 rounded-full my-2 mx-4
}

.beer-category__name {
  @apply text-base lg:text-sm m-0
}

.beer-card {
  @apply bg-primary text-background p-2 xxs:p-5
}

.beer-card__description {
  @apply  m-0 ml-1 lg:text-base 

}

.beer-card__image {
  @apply bg-transparent rounded-xl w-full h-full object-cover
}



.beer-card__item {
  @apply ml-1 mb-1 text-left lg:text-base 
}

.beer-card__item.links {
  @apply ml-2 transition-all  hover:text-accent
}

.beer-card__label-text {
  @apply label-text p-1 text-background text-xs lg:text-xs font-semibold uppercase
}

.beer-card__title {
  @apply inline-flex justify-center items-center text-sm font-semibold text-accent ml-1 mt-1
}

/* styles.css or any other CSS file you're using */
.bottom-drawer {
  position: fixed;
  bottom: -100%; /* start off the screen */
  left: 0;
  width: 100%;
  height: 85vh;
  visibility: hidden; /* set to hidden initially */
  transition: all 0.5s ease-in-out;
  z-index: 20;
}

.bottom-drawer.open {
  bottom: 0; /* move it into view */
  visibility: visible; /* make it visible */
}




.category__input {
  @apply rounded-full border-none font-semibold bg-white text-primary
}

.category-card__title {
  @apply  flex h-20 lg:h-16 py-0 px-5 items-center  self-stretch after:left-5 text-xl lg:text-base font-medium 
}

.category-card__content {
  @apply mt-4
}

.category-card {
  @apply  bg-background text-primary border border-stone-400 hover:shadow-xl hover:border-primary  transition-all duration-300 

}

.category-card__selected { 
  @apply bg-blue-200 text-primary shadow-xl border border-primary

}

.category-card__open {
  @apply bg-none bg-[#FEFEFD] text-primary shadow-2xl border-none ;

}

.category-card__edit {
  @apply bg-none  shadow-2xl  ;

}

.create-btn {
  @apply bg-primary lg:bg-transparent border lg:border-primary text-background lg:text-primary rounded-full transition-all duration-300 hover:bg-primary hover:text-background  
  
}

.create-btn.inverse 
{
  @apply  border-background text-background  hover:bg-background hover:text-primary disabled:bg-opacity-20  disabled:text-opacity-20 disabled:border-opacity-20;
  
} 

.create-btn.ghost 
{
  @apply  text-background disabled:text-opacity-20
  
} 

.close-btn {
  @apply float-right;
  
}


.container-create__form {
  @apply flex flex-col my-2 px-3 w-full
}

.container-create__form.row {
  @apply flex flex-row justify-between items-center
}



.dashboard-container {
  @apply  flex flex-row w-fit mx-auto lg:w-[90%] py-5 md:py-1 px-1 lg:pr-8 justify-center items-center rounded-full 
}

.dashboard-button {
  @apply text-xs border border-stone-400 py-2 px-3 md:py-3 md:px-4 font-semibold  first:rounded-l-full last:rounded-r-full hover:border-black  justify-center shadow-lg lg:shadow-xl 
}


.dashboard-button__selected {
  @apply text-background border-[#181818] bg-primary  shadow-lg;
  box-shadow: inset -2px -2px 8px #181818, inset 2px 2px 8px #181818;
}


.delete-remove-btn__text {
  @apply my-2 text-xs opacity-50
}



.error {
  @apply text-red-600  text-sm
}



.date-create {
  @apply text-sm italic
}



.gray-text {
  @apply opacity-50
}


.form {
  @apply beer-card h-fit
}

.form__input {
  @apply bg-primary text-background border-stone-400  rounded-full focus:border-accent lg:h-9 lg:text-sm 
}

.form-input__create-account {
  @apply text-primary bg-white border border-primary rounded-full  text-sm 

}

.form__input-tag {
  @apply !bg-accent !text-primary !rounded-full !p-1 !pl-2 !mx-2  
}

/*  tag class in field */
.css-1p3m7a8-multiValue {
  @apply form__input-tag

}


.form__input-textarea {
  @apply border-stone-400 focus:border-accent  bg-primary text-background lg:text-sm
}



.form__input-file-sx {
  @apply w-full max-w-xs
}




.logo {
  @apply rounded-2xl bg-slate-50 object-contain
}

.logo__default {
  @apply flex px-2 py-2 bg-accent justify-center items-center text-third-color font-bold text-xl rounded-full
}

.logo__settings {
  @apply w-32 h-fit rounded-2xl
}

.logo__edit {
  @apply h-36 w-fit rounded-2xl
}

.menu-drawer {
  @apply bg-fourth-color
}



.new-category {
  @apply bg-primary/10 shadow-xl
}

.ReactTags__remove {
  @apply pl-1 text-lg
}

.ReactTags__selected {
  @apply relative flex flex-wrap 
}

.ReactTags__tag {
  @apply bg-accent text-primary rounded-full p-1 px-2 pt-0 m-2 lg:text-sm
}

.ReactTags__tagInput {
  @apply mt-2 w-full
}

.ReactTags__tagInputField {
  @apply form__input w-full 
}

.ReactTags__suggestions {
  @apply bg-background text-primary rounded-xl shadow-md shadow-[#807768] absolute z-10 w-full max-h-64 overflow-y-auto 
}


.ReactTags__suggestions li {
  @apply list-none text-primary p-2 py-3

}
.ReactTags__suggestions li mark {
  @apply font-semibold bg-accent;
}

.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  @apply first:rounded-t-xl last:rounded-b-xl bg-blue-200 cursor-pointer

}

.search__input {

    @apply bg-white text-primary rounded-full border-none  lg:h-9 lg:text-sm 
 
}

.settings-account__info {
  @apply flex justify-between items-center
}

.settings-profile__info {
  @apply flex flex-col xs:flex-row justify-between items-center
}



.scrollbar-w-2::-webkit-scrollbar {
  width: .25rem;
  height: .25rem
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: '#f7fafc';
  background-color: rgba(247, 250, 253, var(--bg-opacity));
}
.search-result__container {
  @apply flex flex-col w-full
}
.search-result__item {
  @apply bg-primary my-2 w-full flex items-center justify-between rounded-md shadow-md transition-all hover:shadow-xl hover:text-accent
}

.search-result__icon-name {
  @apply flex items-center gap-2
}

.side-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
 
  transition: right 0.3s ease-in-out;
}

.side-drawer.open {
  right: 0;
}

.side-drawer__settings {
  @apply z-20 bg-background py-4 px-4 md:px-14;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
 
  transition: right 0.3s ease-in-out;
}

.side-drawer__settings.open {
  right: 0;
}

.side-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 1rem;
}



.tag-new {
  @apply badge text-primary bg-indigo-300 text-sm 
}

.table-row__effect {
  @apply transition-all rounded-lg hover:shadow-lg hover:cursor-pointer md:hover:bg-blue-300 
}

.table-row__checked {
  @apply category-card__selected rounded-lg
}

@layer components {

  .badge {
    @apply bg-white text-primary border-none opacity-60
  }
  .btm-nav {
    @apply border border-t-[1px] border-gray-400;
  }
 .btm-nav > *:where(.active) {
    @apply bg-third-color text-accent border-none 
  }

  .card-body {
    @apply p-0
  }

  .divider::after {
    @apply bg-gray-400 bg-opacity-20
  }

  .divider::before {
    @apply bg-gray-400 bg-opacity-20
  }


  .label-text {
    @apply text-primary
  }

  .tab {
    @apply text-primary text-opacity-50 
  }

 .tab-bordered {
  @apply border-gray-400 border-opacity-20
 }

 .tab.tab-active:not(.tab-disabled):not([disabled]) {
  @apply text-accent border-accent
}
 }



 /* flatflie override */
 
.flatfile_iframe-wrapper.flatfile_displayAsModal {
  @apply !w-full !h-screen !pt-16 md:!pl-24;
}
 

/* View Transition Wave Effect */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  /* Ensure the outgoing view (old theme) is beneath */
  z-index: 0;
}

::view-transition-new(root) {
  /* Ensure the incoming view (new theme) is always on top */
  z-index: 1;
}

@keyframes reveal {
  from {
    /* Use CSS variables for the origin, defaulting to center if not set */
    clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
    opacity: 0.7;
  }
  to {
    /* Use CSS variables for the origin, defaulting to center if not set */
    clip-path: circle(150% at var(--x, 50%) var(--y, 50%));
    opacity: 1;
  }
}

::view-transition-new(root) {
  /* Apply the reveal animation */
  animation: reveal 0.4s ease-in-out forwards;
}
