@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-w-2::-webkit-scrollbar {
  width: .25rem;
  height: .25rem
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: '#f7fafc';
  background-color: rgba(247, 250, 253, var(--bg-opacity));
}