@tailwind base;
@tailwind components;
@tailwind utilities;



h1 {
  @apply text-4xl font-bold text-center
}

p {
  @apply my-4 mx-4 
}


.beer-category__image {
  @apply rounded-full my-2 mx-4
}

.beer-card__image {
  @apply w-64 h-64 bg-transparent
}

.error {
  @apply text-red-500 text-sm
}

.create__btn {
  @apply btn btn-accent
}

.close-btn {
  @apply float-right mt-[-2rem] mr-[-2rem] btn btn-ghost;
  
}

/* Create New Beer Form */

.container-create__form {
  @apply flex flex-col m-3
}



.date-create {
  @apply text-sm italic
}

.form {
  @apply bg-zinc-800 h-fit
}

.form__input {
  @apply input text-black
}

.form__input-textarea {
  @apply textarea textarea-accent text-black
}

.form__input-file {
  @apply file-input file-input-bordered file-input-accent 
}

.form__input-file-sx {
  @apply file-input file-input-bordered file-input-accent file-input-xs w-full max-w-xs
}

.ReactTags__selected {
  @apply m-4
}

.ReactTags__tag {
  @apply p-2 bg-lime-300 rounded-full text-black
}

.ReactTags__tagInput {
  @apply mt-4
}

.ReactTags__tagInputField {
  @apply min-w-fit w-72 input text-black
}

.scrollbar-w-2::-webkit-scrollbar {
  width: .25rem;
  height: .25rem
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: '#f7fafc';
  background-color: rgba(247, 250, 253, var(--bg-opacity));
}


